.next
.swc
certificates
out
tsconfig.tsbuildinfo
next-env.d.ts

node_modules

test-results
playwright-report
playwright/.cache

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*


# Generated build artifacts
public/.index/
public/robots.txt
public/rss.xml
public/sitemap.xml